<div class="loading-label" [class.loading-label--empty]="mode() === 'empty'">
  <span class="loading-label__badge">
    @switch (mode()) {
      @case ('empty') {
        <ng-container i18n="@@loadingLabel.badge.empty">empty</ng-container>
      }
      @case ('error') {
        <ng-container i18n="@@loadingLabel.badge.error">error</ng-container>
      }
      @default {
        <ng-container i18n="@@loadingLabel.badge.loading">loading</ng-container>
      }
    }
  </span>
  <p class="loading-label__text">{{ label() }}</p>
</div>
