<header class="header">
  <div
    aria-label="Library sections"
    i18n-aria-label="@@header.librarySections"
    class="header__switcher"
  >
    <app-button
      [active]="activeView() === 'photos'"
      variant="secondary"
      (pressed)="goToPhotos()"
    >
      <ng-container i18n="@@header.photos">Photos</ng-container>
    </app-button>

    <app-button
      [active]="activeView() === 'favorites'"
      variant="secondary"
      (pressed)="goToFavorites()"
    >
      <ng-container i18n="@@header.favorites">Favorites</ng-container>
    </app-button>
  </div>
</header>
