:host {
  display: block;
  border: 1px solid var(--app-color-outline);
  border-radius: var(--app-radius-mdl);
  padding: var(--app-space-5);
}

.header {
  display: flex;
  justify-content: center;
}

.header__switcher {
  display: flex;
  gap: var(--app-space-8);
  align-items: center;
}

@media (max-width: 640px) {
  .header {
    padding-inline: var(--app-space-3);
  }
}
