:host {
  display: grid;
  block-size: 100%;
  gap: var(--app-space-5);
  align-content: start;
}

.photo-details-page__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.photo-details-page__image {
  min-block-size: 0;
  overflow-y: hidden;
  @media (max-width: 640px) {
    inline-size: 100%;
  }
}

.photo-details-page__actions {
  display: grid;
  justify-items: center;
}

.photo-details-page__remove {
  justify-self: center;
}
