@if (images().length) {
  <div class="image-list">
    @for (image of images(); track image.id; let last = $last) {
      <div class="image-list__item">
        @if (infiniteScroll()) {
          <button
            viewportEnter
            (viewPortEntered)="onEnterViewport(last)"
            type="button"
            class="image-list__button"
            (click)="selectImage(image.id)"
            [attr.aria-label]="openImageAriaLabel(image.title)"
          >
            <app-image-card [image]="image"></app-image-card>
          </button>
        } @else {
          <button
            type="button"
            class="image-list__button"
            (click)="selectImage(image.id)"
            [attr.aria-label]="openImageAriaLabel(image.title)"
          >
            <app-image-card [image]="image"></app-image-card>
          </button>
        }
      </div>
    }
  </div>
} @else {
  <app-loading-label [label]="emptyLabel()" mode="empty"></app-loading-label>
}
